<h4>Información del proceso global</h4>
<ul>
    <li>
        <ul>
            Argumentos de entrada:
            {{#each info.argumentos}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </li>
    <li>Nombre de la plataforma (sistema operativo): {{info.plataforma}}</li>
    <li>Versión de node.js: {{info.version}}</li>
    <li>Uso de memoria: {{info.memoria}}</li>
    <li>Path de ejecución: {{info.path}}</li>
    <li>Process id: {{info.id}}</li>
    <li>Carpeta corriente: {{info.carpeta}}</li>
    <li>Número de procesadores: {{info.numCPUs}}</li>
</ul>